@using WineStoreShared
@model WineStoreWeb.Models.StoreViewModel

@{
    ViewData["Title"] = "Store";
}
<h2>@ViewData["Title"]</h2>

<table>
@foreach(WineItem wine in Model.WinesToDisplay) {
	<tr>
    <td><img src="@wine.WinePicture" alt="@wine.WineType:@wine.WineId" width="200" /></td>
    <td><p> @Html.DisplayFor(item => wine.WineName) </p></td>
    <td><p> @Html.DisplayFor(item => wine.WineInfo) </p></td>
		<td width="150">
			<p>&#163; @wine.WinePrice</p>
        	@if(wine.WineInStock > 0) {
                <p><b>In Stock</b></p>  
			    <p><a href="javascript:AddToTrolley('@wine.WineType:@wine.WineId')">Add to Trolley</a></p>
        	} else {
                <p><i>Out of stock</i></p>
        	}
			

		</td>
	</tr>
}
</table>

<p>Use this area to provide additional information.</p>

<script language="javascript" type="text/javascript" >
     
    function AddToTrolley(typeAndId) {
	    alert(typeAndId);
	}
 
</script>