@using WineStoreShared
@model WineStoreWeb.Models.StoreViewModel

@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<table>
@foreach(WineItem wine in Model.WinesToDisplay) {
	<tr>
    <td><img src="@wine.WinePicture" alt="@wine.WineType:@wine.WineId"width="200" /></td>
    <td><p> @Html.DisplayFor(item => wine.WineName) </p></td>
    <td><p> @Html.DisplayFor(item => wine.WineInfo) </p></td>
	@if(wine.WineInStock > 0) {
        <td><p><b>In Stock</b></p></td>    
	} else {
        <td><p><i>Out of stock</i></p></td>
	}
	</tr>
}
</table>

<p>Use this area to provide additional information.</p>
